<div>
  <label for="dragOperation">Drag Containers</label>
  <input type="checkbox" id="dragOperation" [(ngModel)]="dragOperation" name="dragOperation">
</div>
<div class="row">

  <div class="col-sm-12">
    <div dnd-sortable-container [sortableData]="containers" [dropZones]="['container-dropZone']">
      <div class="col-sm-3" *ngFor="let container of containers; let i = index"  dnd-sortable [sortableIndex]="i" [dragEnabled]="dragOperation">
        <div class="panel panel-warning"  dnd-sortable-container [sortableData]="container.issues" [dropZones]="['widget-dropZone']">
          <div class="panel-heading">
            {{container.name}}
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li *ngFor="let widget of container.issues; let x = index" class="list-group-item"
                  dnd-sortable [sortableIndex]="x" [dragEnabled]="!dragOperation" [dragData]="widget">{{widget.name}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="col-sm-3">
    <div class="panel panel-info">
      <div class="panel-heading">Done</div>
      <div class="panel-body" dnd-droppable (onDropSuccess)="addTo($event)" [dropZones]="['widget-dropZone']">
        <div *ngFor="let widget of widgets" class="panel panel-default" >
          <div class="panel-body">
            {{widget.name}}
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
